<app-box-content>
    <div class="row">
        <div class="col-md-12">
            <div class="room-info">
                <h4>Room Availibity</h4>
                <h5>Total rooms: {{listOfData.length}}</h5>
                <form (keyup.enter)="onSearch()">
                    <div class="row">
                        <div class="col-md-2">
                            Room No: <input nz-input placeholder="Input room no" [(ngModel)]="filterRoomNo"
                                name="filterRoomNo" type="text" />
                        </div>
                        <div class="col-md-3">
                            <br>
                            <button nz-button class="btn btn-primary" style="margin-right: 10px" (click)="onSearch()"
                                type="button">Search</button>
                            <button nz-button class="btn btn-primary" (click)="onResetFilter()">Reset</button>
                        </div>
                        <div class="col-md-7 text-right">
                            <br>
                            <button (click)="showModal()" nz-button>Create room</button>
                        </div>
                    </div>
                </form>
                <br>
                <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th>Room Id</th>
                            <th>Room No</th>

                            <th>Room Type</th>
                            <th>Room</th>
                            <th>Active</th>

                            <th>Guest Name</th>
                            <th>Reservation Id</th>

                            <th>Res. Status</th>
                            <th>Arrival</th>
                            <th>Departure</th>
                            <!-- <th>Action</th> -->

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listOfData">
                            <td>{{item.id}}</td>
                            <td>{{item.roomCode}}</td>

                            <td><a [routerLink]="['/room-type',item.roomType.id]" >{{ item.roomType.title }}</a> </td>
                            <td>
                                <span *ngIf="item.roomStatus === 'BOOKED'"
                                    style="color:rgb(199, 199, 48)">{{item.roomStatus}}</span>
                                <span *ngIf="item.roomStatus === 'AVAILABLE'"
                                    style="color:green">{{item.roomStatus}}</span>
                            </td>
                            <td>
                                <app-toggle-switch [model]="!item.disabled" [name]="'status'"
                                    (modelChange)="onStatusChange($event,item)"></app-toggle-switch>
                            </td>

                            <td>
                                <div *ngIf="item.roomStatus === 'BOOKED'"><a
                                        [routerLink]="['/profile', item.mainGuest ? item.mainGuest.id: 0 ]"
                                        routerLinkActive="router-link-active">{{ item.mainGuest ? (item.mainGuest.firstName && item.mainGuest.lastName ? item.mainGuest.firstName + ' ' + item.mainGuest.lastName: item.mainGuest.fullName) : ''}}</a>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="item.roomStatus === 'BOOKED'"><a
                                        [routerLink]="['/reservation', item.reservation ? item.reservation.id: 0 ]">{{item.reservation ? item.reservation.id: ''}}</a>
                                </div>

                            </td>
                            <td>
                                <div *ngIf="item.roomStatus === 'BOOKED'">
                                    <span class="tag tag-blue"
                                        *ngIf="item.reservationStatus === 'INHOUSE'">{{item.reservationStatus}}
                                        <!---->
                                        <!----></span>
                                    <span class="tag tag-green"
                                        *ngIf="item.reservationStatus === 'ARRIVAL'">{{item.reservationStatus}}
                                        <!---->
                                        <!----></span>
                                    <span class="tag tag-yellow"
                                        *ngIf="item.reservationStatus === 'CHECKOUT'">{{item.reservationStatus}}
                                        <!---->
                                        <!----></span>
                                    <span class="tag tag-red"
                                        *ngIf="item.reservationStatus === 'CANCELLED'">{{item.reservationStatus}}
                                        <!---->
                                        <!----></span>
                                </div>

                            </td>
                            <td>
                                <div *ngIf="item.roomStatus === 'BOOKED'">
                                    {{item.reservation ? (item.reservation.arrivalDate| date: 'yyyy-MM-dd'):''}}</div>
                            </td>
                            <td>
                                <div *ngIf="item.roomStatus === 'BOOKED'">
                                    {{item.reservation ? (item.reservation.departureDate| date: 'yyyy-MM-dd') :''}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</app-box-content>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Form Information" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form nz-form [formGroup]="createForm">
        <div class="form-group">
            <label for="">Room Code</label>
            <input type="text" class="form-control" placeholder="Type room code" formControlName="roomCode">
        </div>
        <div class="form-group">
            <label for="">Room Type</label>
            <select class="form-control" formControlName="roomType">
                <option [value]="item" *ngFor="let item of listOfRoomType">{{item.title}}</option>
            </select>
        </div>
    </form>
</nz-modal>