<app-box-content>
  <div class="row">
    <div class="col-md-12">
      <div class="room-info">
        <h4>Transaction code</h4>
        <form (keyup.enter)="onSearch()">
          <div class="row">
            <div class="col-md-2">
              Transaction Name: <input nz-input placeholder="Input transaction name" [(ngModel)]="filterName" name="filterName"
                type="text" />
            </div>
            <div class="col-md-3">
              <br>
              <button nz-button class="btn btn-primary" style="margin-right: 10px" (click)="onSearch()"
                type="submit">Search</button>
              <button nz-button class="btn btn-primary" (click)="onResetFilter()">Reset</button>
            </div>
            <div class="col-md-7 text-right">
                <br>
              <button (click)="showModal()" nz-button>Create transaction</button>
             </div>
          </div>
        </form>
        <br>
        <nz-table #basicTable [nzData]="listOfData">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of listOfData">
              <td>{{ data.name }}</td>
              <td>{{ data.type }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</app-box-content>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Form Information" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <form nz-form [formGroup]="createForm">
    <div class="form-group">
      <label for="exampleFormControlInput1">Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Type Name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Code</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Type Name" formControlName="title">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Type</label>
      <select class="form-control" id="exampleFormControlSelect1" formControlName="type">
        <option value="SERVICE">SERVICE</option>
        <option value="PAYMENT">PAYMENT</option>
      </select>
    </div>
  </form>
</nz-modal>