<div class="box-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5" *ngIf="form ===1">
                <div class="login-card mb-5">
                    <div class="login-title">
                        <span style="font-size: 22px;font-weight: 600;">Login</span>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <form [formGroup]="formLogin">
                                <div class="form-group">
                                    <label>User name/Email</label>
                                    <input type="text" class="form-control" placeholder="" formControlName="email">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" placeholder=""
                                        formControlName="password">
                                </div>
                                <div class="mb-2">
                                    <button type="submit" class="btn btn-primary form-control"
                                        style="background-color: #dfa974;" (click)="onLogin()">Sign in</button>
                                </div>
                                <small style="font-style: italic;">Don't have an account? <a class="is-link"
                                        (click)="onChangeForm()">Register now</a></small>
                            </form>
                            <div class="social-login mt-3">
                                <p class="line-on-side text-center">
                                    <span class="text-center"> Or login with</span>
                                </p>
                                <div class="row justify-content-center">
                                    <div class="col-3">
                                        <div class="text-center  mx-auto">
                                            <div class="btn-google">
                                                <a #loginRef><img src="../../assets/images/ICON-GG.png" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7" *ngIf="form === 2">
                <div class="login-card mb-5">
                    <div class="login-title">
                        <span style="font-size: 22px;font-weight: 600;">Register</span>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <form [formGroup]="formRegiser">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Last name</label>
                                            <input type="text" class="form-control" placeholder=""
                                                formControlName="lastName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>First name</label>
                                            <input type="text" class="form-control" placeholder=""
                                                formControlName="firstName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" placeholder=""
                                                formControlName="email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="number" class="form-control" placeholder=""
                                                formControlName="phoneNumber">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" class="form-control" placeholder=""
                                                formControlName="password">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Confirm password</label>
                                            <input type="password" class="form-control" placeholder=""
                                                formControlName="confirmPassword">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <button type="submit" class="btn btn-primary form-control"
                                        style="background-color: #dfa974;" (click)="onRegister()">Submit</button>
                                </div>
                                <a (click)="onChangeForm()" class="is-link">Back to login</a>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <form nz-form>
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Phone number</nz-form-label>
                <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Input is required">
                    <input nz-input [ngModel]="'Required Input'" name="required" required [(ngModel)]="phoneNumber"
                        type="number" />
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-modal>

    <button hidden #triggerClick (click)="showModal()">CLick</button>
    <button hidden #showBlocked (click)="loginBlocked()">CLick</button>
    <button hidden #showNotActive (click)="showNotActiveModal()">CLick</button>

    <nz-modal [(nzVisible)]="isVisibleNotActiveModal" nzTitle="The first Modal" (nzOnCancel)="handleCancelNotActiveModal()" (nzOnOk)="handleOkNotActiveModal()">
        Your account is not activated. Please check email to continue login<br><span>Donnot received any email? Resend
            after {{timeLeft}}s <button type="button" [disabled]="disabledResend" (click)="sendNewCode()"
                class="btn-primary">Resend</button></span>
    </nz-modal>