<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay" id="offcanvas-menu-overlay"></div>
<div class="canvas-open" id="canvas-open" (click)="openMenuMobile()">
    <i class="icon_menu"></i>
</div>
<div class="offcanvas-menu-wrapper" id="offcanvas-menu-wrapper">
    <div class="canvas-close" (click)="closeMenuMobile()">
        <i class="icon_close"></i>
    </div>
    <div class="search-icon search-switch">
        <i class="icon_search"></i>
    </div>
    <!-- <div class="header-configure-area">
        <div class="language-option">
            <img src="img/flag.jpg" alt="">
            <span>EN <i class="fa fa-angle-down"></i></span>
            <div class="flag-dropdown">
                <ul>
                    <li><a href="#">Zi</a></li>
                    <li><a href="#">Fr</a></li>
                </ul>
            </div>
        </div>
        <a href="#" class="bk-btn">Booking Now</a>
    </div> -->
    <nav class="mainmenu mobile-menu">
        <ul>
            <li class="active"><a href="./index.html">Home</a></li>
            <li><a href="./rooms.html">Rooms</a>
                <ul class="dropdown">
                    <li><a href="./room-details.html">Room Details</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                    <li><a href="#">Family Room</a></li>
                    <li><a href="#">Premium Room</a></li>
                </ul>
            </li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="top-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-tripadvisor"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
    <ul class="top-widget">
        <li><i class="fa fa-phone"></i> (12) 345 67890</li>
        <li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
    </ul>
</div>
<!-- Header Section Begin -->
<header class="header-section header-normal">
    <!-- <div class="top-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="tn-left">
                        <li><i class="fa fa-phone"></i> (12) 345 67890</li>
                        <li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="tn-right">
                        <div class="top-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-tripadvisor"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                        <a href="#" class="bk-btn">Booking Now</a>
                        <div class="language-option">
                            <img src="img/flag.jpg" alt="">
                            <span>EN <i class="fa fa-angle-down"></i></span>
                            <div class="flag-dropdown">
                                <ul>
                                    <li><a href="#">Zi</a></li>
                                    <li><a href="#">Fr</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="menu-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a [routerLink]="['/home']">
                            <img src="../../assets/images/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="nav-menu">
                        <nav class="mainmenu">
                            <ul>
                                <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
                                <li><a [routerLink]="['/rooms']" routerLinkActive="active">Rooms</a>
                                <li><a [routerLink]="['/booking']" routerLinkActive="active">Booking</a>
                                <li><a [routerLink]="['/contact']" routerLinkActive="active">Contact</a></li>
                                <li *ngIf="user">
                                    <a>
                                        <div>
                                            <div nz-dropdown [nzDropdownMenu]="menu" style="width: 100px;" ><div style=" 
                                                white-space: nowrap;
                                                text-overflow: ellipsis;
                                               "><span style="  overflow: hidden;">
                                                   Welcome,
                                                   {{user.firstName ?user.firstName +' ' +user.lastName: user.fullName }}
                                               </span></div> 
                                            </div>
                                        </div>


                                    </a>
                                    <nz-dropdown-menu #menu="nzDropdownMenu">
                                        <ul nz-menu nzSelectable>
                                            <li nz-menu-item><a [routerLink]="['/profile']" style="color:#000">
                                                    Profile</a></li>
                                            <li nz-menu-item (click)="onLogout()">Logout</li>
                                        </ul>
                                    </nz-dropdown-menu>
                                </li>
                                <li *ngIf="!user"><a [routerLink]="['/login']" routerLinkActive="active">Login</a> </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->